@media (min-width: 1300px) and (max-width: 1600px) {

}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/


@media (min-width: 1024px) and (max-width: 1299px) {
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .main-statistics-box {
        height: 200px;
    }

    .footer-logo {
        width: 270px;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/


@media (min-width: 768px) and (max-width: 1023px) {
    .header-bottom .nav-link {
        font-size: 10px;
    }

    .header-bottom .btn-text{
        font-size: 14px;
    }

    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }
    .main-statistics-box {
        height: 200px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/

@media (min-width: 420px) and (max-width: 767px) {
    .map-info{
        width: 100%;
        top: 0;
    }
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .background-carousel-news {
        background-position: 250% 80%;
        background-size: 85%;
        padding: 25px;
    }

    .carousel-swip .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
    }


    .carousel-swip .w-90{
        width: 100%!important;
    }
    .main-statistics-box-bottom {
        height: auto;
    }
    .main-statistics-box {
        height: 200px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/

@media (min-width: 321px) and (max-width: 419px) {
    .map-info{
        width: 100%;
        top: 0;
    }
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .background-carousel-news {
        background-position: 250% 80%;
        background-size: 85%;
        padding: 25px;
    }

    .carousel-swip .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
    }


    .carousel-swip .w-90{
        width: 100%!important;
    }

    .main-statistics-box-bottom {
        height: auto;
    }
    .main-statistics-box {
        height: 200px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .footer-logo {
        width: 310px;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/

@media (max-width: 320px) {
    .logo-blue{
        width: 190px;
        height: 36px;
    }
    .map-info{
        width: 100%;
        top: 0;
    }
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .background-carousel-news {
        background-position: 250% 80%;
        background-size: 85%;
        padding: 25px;
    }

    .carousel-swip .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
    }


    .carousel-swip .w-90{
        width: 100%!important;
    }

    .main-statistics-box-bottom {
        height: auto;
    }
    .main-statistics-box {
        height: 180px;
    }

    .main-statistics .text-38{
        font-size: 30px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .footer-logo {
        width: 290px;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/