@media (min-width: 1300px) and (max-width: 1600px) {

}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/


@media (min-width: 1024px) and (max-width: 1299px) {
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .main-statistics-box {
        height: 200px;
    }

    .footer-logo {
        width: 270px;
    }

    .countdown-value {
        font-size: 22px!important;
    }

    .info-header-box-title {
        font-size: 12px !important;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/


@media (min-width: 768px) and (max-width: 1023px) {
    .header-bottom .nav-link {
        font-size: 10px;
    }

    .header-bottom .btn-text{
        font-size: 14px;
    }

    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }
    .main-statistics-box {
        height: 200px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }

    .cabinet-left-panel {
        height: 240px;
    }

    .chat-bg-box {
        height: auto;
    }

    .cabinet-chat-list-ux {
        height: auto;
    }

    .statistics-info-num-box {
        height:  260px;
    }

    .statistics-all-info-absolute {
        bottom: -0.5rem;
        right: 1rem;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/

@media (min-width: 420px) and (max-width: 767px) {
    .map-info{
        width: 100%;
        top: 0;
    }
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .background-carousel-news {
        background-position: 250% 80%;
        background-size: 85%;
        padding: 25px;
    }

    .carousel-swip .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
    }


    .carousel-swip .w-90{
        width: 100%!important;
    }
    .main-statistics-box-bottom {
        height: auto;
    }
    .main-statistics-box {
        height: 200px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }

    .form-file-upload {
        transform: unset;
    }

    .form-file-upload .custom-file-label {
        line-height: normal;
        font-size: 14px;
    }

    .cabinet-left-panel {
        height: 240px;
    }

    .chat-bg-box {
        height: auto;
    }

    .cabinet-chat-list-ux {
        height: auto;
    }

    .info-tender-card-active,
    .info-tender-card-active{
        width: 100%;
    }

    .solutions-first {
        width: 500px;
    }

    .solutions-second {
        width: 500px;
    }

    .solutions-first-text{
        width: 250px;
    }

    .solutions-second-text{
        width: 250px;
    }

    .statistics-info-num-box {
        height:  210px;
    }

    .statistics-all-info-absolute {
        bottom: -0.5rem;
        right: 1rem;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/

@media (min-width: 321px) and (max-width: 419px) {
    .map-info{
        width: 100%;
        top: 0;
    }
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .background-carousel-news {
        background-position: 250% 80%;
        background-size: 85%;
        padding: 25px;
    }

    .carousel-swip .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
    }


    .carousel-swip .w-90{
        width: 100%!important;
    }

    .main-statistics-box-bottom {
        height: auto;
    }
    .main-statistics-box {
        height: 200px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .footer-logo {
        width: 310px;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }
    .info-body-left-text {
        font-size: 14px!important;
    }

    .info-body-right-text {
        font-size: 14px!important;
    }

    .form-file-upload {
        transform: unset;
    }

    .form-file-upload .custom-file-label {
        line-height: normal;
        font-size: 14px;
    }

    .cabinet-left-panel {
        height: 240px;
    }

    .chat-bg-box {
        height: auto;
    }

    .cabinet-chat-list-ux {
        height: auto;
    }

    .info-tender-card-active,
    .info-tender-card-active{
        width: 100%;
    }

    .solutions-first {
        width: 500px;
    }

    .solutions-second {
        width: 500px;
    }

    .solutions-first-text{
        width: 250px;
    }

    .solutions-second-text{
        width: 250px;
    }

    .statistics-info-num-box {
        height:  210px;
    }

    .statistics-all-info-absolute {
        position: relative;
        bottom: -0.5rem;
        right: 0;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/

@media (max-width: 320px) {
    .logo-blue{
        width: 190px;
        height: 36px;
    }
    .map-info{
        width: 100%;
        top: 0;
    }
    .info-box::after,
    .info-box::before{
        display: none;
    }

    .map-statistics-box-border {
        position: absolute;
        top: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background: #28366D;
    }

    .background-carousel-news {
        background-position: 250% 80%;
        background-size: 85%;
        padding: 25px;
    }

    .carousel-swip .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 0;
        left: 0;
        width: 100%;
    }


    .carousel-swip .w-90{
        width: 100%!important;
    }

    .main-statistics-box-bottom {
        height: auto;
    }
    .main-statistics-box {
        height: 180px;
    }

    .main-statistics .text-38{
        font-size: 30px;
    }

    .footer .border-left,
    .footer .border-right{
        border: none!important;
    }

    .footer-logo {
        width: 290px;
    }

    .notification-num-box {
        position: unset;
        top: 0;
        margin-right: 10px;
    }

    .info-body-left-text {
        font-size: 14px!important;
    }

    .info-body-right-text {
        font-size: 14px!important;
    }

    .form-file-upload {
        transform: unset;
    }

    .form-file-upload .custom-file-label {
        line-height: normal;
        font-size: 13px;
    }

    .cabinet-left-panel {
        height: 240px;
    }

    .chat-bg-box {
        height: auto;
    }

    .cabinet-chat-list-ux {
        height: auto;
    }

    .page-link {
        font-size: 12px;
    }

    .countdown-value {
        font-size: 20px!important;
    }

    .info-tender-card-active,
    .info-tender-card-active{
        width: 100%;
    }

    .solutions-first {
        width: 500px;
    }

    .solutions-second {
        width: 500px;
    }

    .solutions-first-text{
        width: 250px;
    }

    .solutions-second-text{
        width: 250px;
    }

    .statistics-info-num-box {
        height:  210px;
    }

    .statistics-all-info-absolute {
        position: relative;
        bottom: -0.5rem;
        right: 0;
    }
}

/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/
/*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*//*-----*/